<div class="container">
  <div class="header-tag">
   <!-- <h2>{{ 'POST_NEWS_PAGE.HEADER_TITLE' | translate }}</h2> -->
   <h2>{{ headerTitle | translate }}</h2>
   <p>{{ 'POST_NEWS_PAGE.HEADER_DESCRIPTION' | translate }}</p>
  </div>
 <form [formGroup]="newsContent">
   <mat-form-field appearance="fill" class="title">
     <mat-label>{{ 'POST_NEWS_PAGE.TITLE_LABEL' | translate }}</mat-label>
       <input type="text" matInput formControlName="title">
   </mat-form-field>
   <angular-editor formControlName="content" id="angular-editor" class="angular-editor" [config]="config" #editor></angular-editor>
   <button mat-raised-button color="primary" class="postNewsButton" (click)="submitContent()">  {{ getButtonLabel() | translate }}</button>

  
  </form>
 </div>
