.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .header-tag{
    width: 100%;
    background-color: #cc0000;
    text-align: center;
    margin-block-end: 2rem;
    h2{
      color: #ffffff;
      margin: 0;
      font-size: 2rem;
      padding: 10px;
     }
     p{
      margin: 0;
      color: #ffffff;
        font-size: 1.5rem;
     }
  }
}
.card {
  width: 60%;
  padding-block: 20px;
  background-color: white;
  border-radius: 20px;
  margin-block-end: 2rem;
}

.form-title {
  text-align: center;
  color: rgb(0, 0, 0);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sub-container {
    width: 70%;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-submit{
    display: flex;
    gap: 20px;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.card-action{
  display: flex;
  flex-direction: row;
  gap: 1rem;

 }
 .btn{
  font-size: 20px;
 }
 @media only screen and (max-width: 480px)   {
  .profile-container{
       .header-tag{
        h2{
          font-size: 1.8rem;
          font-weight: 200;
        }
        p{
          font-size: 1rem;
        }
       }
      }
      .card{
        width: 95%;
      }
      .form-submit{
        align-items: center;
        flex-direction: column;
        button{
          font-size: 1rem;
          font-weight: 100;
          width: 80%;
        }
      }
      .form-container{
        .sub-container{
          width: 80%;
        }
      }
      .form-group {
        margin-bottom: 0px;
        font-size: 0.9rem;

      }

    }
