<div class="profile-container">
  <div class="header-tag">
    <h2>Profile</h2>
    <p>Access Your Profile Info, Edit, Change Password.</p>
  </div>
  <div class="card">
    <form class="form-container" [formGroup]="profileForm">
      <div class="sub-container">
        <mat-form-field class="form-group">
          <mat-label>Name</mat-label>
          <input matInput type="text" name="name" placeholder="Enter Your Name" required formControlName="userName" />
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" placeholder="Enter Your Email" required formControlName="email" />
        </mat-form-field>

        <mat-form-field class="form-group">
          <mat-label>Company Number</mat-label>
          <input matInput type="number" name="companyNumber" placeholder="Enter Company Number" required
            formControlName="uid" />
        </mat-form-field>

        <mat-form-field class="form-group">
          <mat-label>Company Name</mat-label>
          <input matInput type="text" name="companyName" placeholder="Enter Company Name" required
            formControlName="name" />
        </mat-form-field>
        <mat-form-field class="form-group" *ngIf="!showpassword">
          <mat-label>Change Password</mat-label>
          <input matInput type="text" name="changepassword" placeholder="Enter new password" formControlName="newPassword" required />
        </mat-form-field>
      </div>

      <div class="form-submit">
          <button mat-raised-button color="primary" class="btn" (click)="editBtn?editBtnClick():saveBtnClick()">{{editBtn?'Edit':'Save'}}</button>
          <button mat-raised-button color="primary" class="btn" (click)="openDialog('0ms', '0ms')">
            Change Password
          </button>
      </div>
    </form>
  </div>
</div>
