<div class="profile-container">
  <div class="header-tag">
    <h2>{{ 'PROFILE_PAGE.HEADER_TITLE' | translate }}</h2>
    <p>{{ 'PROFILE_PAGE.HEADER_DESCRIPTION' | translate }}</p>
  </div>
  <div class="card">
    <form class="form-container" [formGroup]="profileForm">
      <div class="sub-container">
        <mat-form-field class="form-group">
          <mat-label>{{ 'PROFILE_PAGE.NAME_LABEL' | translate }}</mat-label>
          <input matInput type="text" name="name" placeholder="{{ 'PROFILE_PAGE.NAME_LABEL' | translate }}" required formControlName="userName" />
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>{{ 'AUTH.LOG_IN_FORM.EMAIL_LABEL' | translate }}</mat-label>
          <input matInput type="email" name="email" placeholder="{{ 'AUTH.LOG_IN_FORM.EMAIL_LABEL' | translate }}" required formControlName="email" />
        </mat-form-field>

        <mat-form-field class="form-group">
          <mat-label>UID</mat-label>
          <input matInput type="number" name="companyNumber" placeholder="UID" required formControlName="uid" />
        </mat-form-field>

        <mat-form-field class="form-group">
          <mat-label>{{ 'PROFILE_PAGE.COMPANY_NAME_LABEL' | translate }}</mat-label>
          <input matInput type="text" name="companyName" placeholder="{{ 'PROFILE_PAGE.COMPANY_NAME_LABEL' | translate }}" required formControlName="name" />
        </mat-form-field>
        <mat-form-field class="form-group" *ngIf="!showpassword">
          <mat-label>{{ 'PROFILE_PAGE.CHANGE_PASSWORD_LABEL' | translate }}</mat-label>
          <input matInput type="text" name="changepassword" placeholder="{{ 'PROFILE_PAGE.NEW_PASSWORD_LABEL' | translate }}" formControlName="newPassword" required />
        </mat-form-field>
      </div>

      <div class="form-submit">
          <button mat-raised-button color="primary" class="btn" (click)="editBtn?editBtnClick():saveBtnClick()"> {{  getButtonLabel() | translate }}</button>
          <button mat-raised-button color="primary" class="btn" [disabled]="changePasswordBtnDisabled" (click)="openDialog('0ms', '0ms')">
            {{ 'PROFILE_PAGE.CHANGE_PASSWORD_LABEL' | translate }}
          </button>
      </div>
<!--
       <div class="form-submit">

        <button mat-raised-button color="primary" class="btn" *ngIf="editBtn" (click)="editBtnClick()">
          {{ 'PROFILE_PAGE.EDIT_BUTTON' | translate }}
        </button>
        <button mat-raised-button color="primary" class="btn" *ngIf="!editBtn && !changePassword" (click)="openDialog('0ms', '0ms')">
          {{ 'PROFILE_PAGE.CHANGE_PASSWORD_LABEL' | translate }}
        </button>
        <button mat-raised-button color="primary" class="btn" *ngIf="!editBtn && changePassword" (click)="saveBtnClick()">
          {{ 'PROFILE_PAGE.SAVE_BUTTON' | translate }}
        </button>
      </div>  -->
    </form>
  </div>
</div>
