<div class="container">
  <div class="header-tag">
    <h2>{{ 'UPLOAD_EXCEL.HEADER_TITLE' | translate }}</h2>
    <p>{{ 'UPLOAD_EXCEL.HEADER_DESCRIPTION' | translate }}</p>
  </div>

  <div class="upload-section">
    <div class="file-selection">
      <h3>{{ 'UPLOAD_EXCEL.SELECT_FILE' | translate }}</h3>
      <div class="file-chooser">
        <input
          type="file"
          #fileInput
          style="display: none"
          accept=".xlsx, .xls"
          (change)="onFileSelected($event)"
        />

        <button
          mat-raised-button
          color="primary"
          (click)="fileInput.click()"
          *ngIf="!fileSelectedSpinner"
        >
          {{ 'UPLOAD_EXCEL.CHOOSE_FILE_BUTTON' | translate }}
        </button>
        <mat-spinner
          style="width: 50px"
          *ngIf="fileSelectedSpinner"
        ></mat-spinner>
      </div>
      <p
        *ngIf="selectedFile"
        [class.colorRed]="fileError"
        class="selected-file-name"
        style="margin-bottom: 0%"
      >
        {{ 'UPLOAD_EXCEL.SELECTED_FILE_LABEL' | translate }}{{ selectedFile.name }}
      </p>

      <br />
      <div class="confirm-button">
        <button
          mat-raised-button
          (click)="onFileUpload()"
          [disabled]="disableConfirmButotn"
        >
          {{ 'UPLOAD_EXCEL.CONFIRM_BUTTON' | translate }}
        </button>
        <mat-spinner style="width: 50px" *ngIf="confirm"></mat-spinner>
      </div>
    </div>
  </div>
</div>
