.slider{
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  margin-block-start: 2rem;
  .menu{
    cursor: pointer;
    // border-bottom: 1px solid black;
    box-shadow: 0px 5px 16px -6px rgb(171 171 171);
    text-align: center;
  }
}
.slider-shrunk { /* Style for shrunk menu */
  // width: 3.5rem; /* Adjust width for shrunk state */
  height: 100%;
  background-color: #f5f5f5;
}
.slider-visible { /* Style for open menu */
  width: 15rem; /* Adjust width for open state */
  height: 100%;
  background-color: #f5f5f5;
}
.menu-switch-button{
  margin: 20px 0px 0px 10px;
  background-color: transparent;
  border: none;
  mat-icon{
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
}
