<div [ngClass]="!showMenu?'slider-shrunk':'slider-visible'">
  <button (click)="toggleMenu()" class="menu-switch-button">
    <mat-icon style="color: #cc0000;">{{!showMenu?'menu':'close'}}</mat-icon>
  </button>
  <div class="slider" >
    <div class="slider-top">
      <span *ngIf="!ifSuperUser"  class="menu" [ngStyle]="{'background-color': activeMenu=='import-file'?'#b5b5b5':''}" routerLink="/dashboard/import-file" routerLinkActive="setActive" (click)="goToRoute('import-file')">
        <p>
          <ng-container *ngIf="showMenu; else nohome">
            <mat-icon>home</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_HOME' | translate }}
          </ng-container>
          <ng-template #nohome>
            <mat-icon>home</mat-icon>
          </ng-template>
        </p>
      </span>
        <span *ngIf="!ifSuperUser" class="menu" [ngStyle]="{'background-color': activeMenu=='news-update'?'#b5b5b5':''}" routerLink="/dashboard/news-update" routerLinkActive="setActive" (click)="goToRoute('news-update')">
          <p>
            <ng-container *ngIf="showMenu; else nonews">
              <mat-icon>newspaper</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_POST_NEWS' | translate }}
            </ng-container>
            <ng-template #nonews>
              <mat-icon>newspaper</mat-icon>
            </ng-template>
          </p>
      </span>
      <span *ngIf="!ifSuperUser" class="menu" [ngStyle]="{'background-color': activeMenu=='news-list'?'#b5b5b5':''}" routerLink="/dashboard/news-list" routerLinkActive="setActive" (click)="goToRoute('news-list')">
        <p>
          <ng-container *ngIf="showMenu; else nonewslist">
            <mat-icon>list</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_NEWS_LIST' | translate }}
          </ng-container>
          <ng-template #nonewslist>
            <mat-icon>list</mat-icon>
          </ng-template>
        </p>
    </span>
      <span *ngIf="!ifSuperUser" class="menu" [ngStyle]="{'background-color': activeMenu=='scoreboard'?'#b5b5b5':''}" routerLink="/dashboard/scoreboard" routerLinkActive="setActive" (click)="goToRoute('scoreboard')">
        <p>
          <ng-container *ngIf="showMenu; else noexcel">
            <mat-icon>note_add</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_UPLOAD_HOUR_FILE' | translate }}
          </ng-container>
          <ng-template #noexcel>
            <mat-icon>note_add</mat-icon>
          </ng-template>
        </p>
      </span>
      <span *ngIf="!ifSuperUser" class="menu"[ngStyle]="{'background-color': activeMenu=='profile'?'#b5b5b5':''}" routerLink="/dashboard/profile" routerLinkActive="setActive" (click)="goToRoute('profile')">
        <p>
          <ng-container *ngIf="showMenu; else profile">
           <mat-icon class="large-icon">account_circle</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_PROFILE' | translate }}
          </ng-container>
          <ng-template #profile>
            <mat-icon class="large-icon">account_circle</mat-icon>
          </ng-template>
        </p>

      </span>
    </div>
    <!-- SUPER ADMIN MENUS -->
    <span *ngIf="ifSuperUser" class="menu" [ngStyle]="{'background-color': activeMenu=='super-admin-dashboard'?'#b5b5b5':''}" routerLink="/dashboard/super-admin-dashboard" routerLinkActive="setActive" (click)="goToRoute('super-admin-dashboard')">
      <p>
        <ng-container *ngIf="showMenu; else home">
          <mat-icon>home</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_HOME' | translate }}
        </ng-container>
        <ng-template #home>
          <mat-icon>home</mat-icon>
        </ng-template>
      </p>
    </span>
   <span *ngIf="ifSuperUser" class="menu" [ngStyle]="{'background-color': activeMenu=='event'?'#b5b5b5':''}" routerLink="/dashboard/event" routerLinkActive="setActive" (click)="goToRoute('event')">
        <p>
          <ng-container *ngIf="showMenu; else match">
            <mat-icon>image</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_EVENT_GRAPHICS' | translate }}
          </ng-container>
          <ng-template #match>
            <mat-icon>image</mat-icon>
          </ng-template>
        </p>
      </span>

  </div>
  <div class="slider-bottom" >
    <span class="menu"  (click)="logOut()" routerLink="/auth/login">
      <p>
        <ng-container *ngIf="showMenu; else logout">
         <mat-icon class="large-icon">logout</mat-icon> {{ 'DASHBOARD_SIDEBAR.MENU_LOGOUT' | translate }}
        </ng-container>
        <ng-template #logout>
          <mat-icon class="large-icon">logout</mat-icon>
        </ng-template>
      </p>

    </span>
  </div>
</div>

