<div [ngClass]="!showMenu?'slider-shrunk':'slider-visible'">
  <button mat-icon-button (click)="toggleMenu()" class="menu-switch-button">
    <mat-icon>{{!showMenu?'menu':'close'}}</mat-icon>
  </button>
  <div class="slider" >
  <span class="menu" (click)="goToRoute('scoreboard')">
    <p>
      <ng-container *ngIf="showMenu; else nohome">
        <mat-icon>home</mat-icon> Home
      </ng-container>
      <ng-template #nohome>
        <mat-icon>home</mat-icon>
      </ng-template>
    </p>
  </span>
    <span class="menu" (click)="goToRoute('news-update')">
      <p>
        <ng-container *ngIf="showMenu; else nonews">
          <mat-icon>newspaper</mat-icon> News
        </ng-container>
        <ng-template #nonews>
          <mat-icon>newspaper</mat-icon>
        </ng-template>
      </p>
  </span>
  <span class="menu" (click)="goToRoute('news-list')">
    <p>
      <ng-container *ngIf="showMenu; else nonewslist">
        <mat-icon>list</mat-icon> News List
      </ng-container>
      <ng-template #nonewslist>
        <mat-icon>list</mat-icon>
      </ng-template>
    </p>
</span>
  <span class="menu" (click)="goToRoute('import-file')">
    <p>
      <ng-container *ngIf="showMenu; else noexcel">
        <mat-icon>note_add</mat-icon> Upload File
      </ng-container>
      <ng-template #noexcel>
        <mat-icon>note_add</mat-icon>
      </ng-template>
    </p>
  </span>
  <span class="menu" (click)="goToRoute('match')">
    <p>
      <ng-container *ngIf="showMenu; else match">
        <mat-icon>image</mat-icon> Match
      </ng-container>
      <ng-template #match>
        <mat-icon>image</mat-icon>
      </ng-template>
    </p>
  </span>
  </div>
</div>

