<div class="auth-container">
<div class="container" id="container" [class.active]="!visible">
  <div class="form-container sign-up">
    <app-sign-up></app-sign-up>

  </div>
  <div class="form-container sign-in">
    <app-login></app-login>
  </div>
  <div class="toggle-container">
    <div class="toggle">

      <div class="toggle-panel toggle-left" id="panel" >
        <img src="assets/wuerth-logo.png" />
        <button class="hidden" id="login" (click)="visible=!visible">
          {{ !visible ? loginText  : 'AUTH.SIGN_UP' | translate }}
        </button>
        <div class="lang-drop-down">
          <!-- <label for="lang">Select Language:</label> -->
         <mat-form-field appearance="outline">
          <mat-label>Language</mat-label>
          <mat-select placeholder="Langu" name="lang" #langSelect [(ngModel)]="selectedLanguage" (selectionChange)="translate.use(langSelect.value)">
            <mat-option *ngFor="let code of languageCodes"[value]="code"> {{ languages[code] }}</mat-option>
          </mat-select>
         </mat-form-field>
        </div>



      </div>
    </div>
  </div>
</div>
</div>

