.auth-container{
  // background-color: .rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
.header{
  width: 100%;
  // border: 3px solid red;
  text-align: center;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255);
}
.content{
  width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
  // background-color: rgb(99, 99, 99);
  .sub-head{
    text-align: center;
    color: white;
  }
  .main-content{
    text-align: center;
      width: 40%;
  }
  // border: 2px solid blue;
}
}
