<div class="container">
  <h2 class="header-title">Import File</h2>
  <div class="upload-section">
    <!-- <h2 class="header-title">Upload File</h2> -->
    <div class="file-selection">
      <h3>Select a file to upload from your computer or device</h3>
      <div class="file-chooser">
        <input type="file" #fileInput style="display: none" accept=".xlsx, .xls" (change)="onFileSelected($event)">

        <button class="choose-button" (click)="fileInput.click()" *ngIf="!fileSelectedSpinner">Choose a File</button>
        <mat-spinner style="width: 50px;" *ngIf="fileSelectedSpinner" ></mat-spinner>
      </div>
<!-- Display the selected file name -->
<p *ngIf="selectedFile" [class.colorRed]="fileError" class="selected-file-name">Selected File: {{ selectedFile.name }}</p>

      <br />
      <div class="confirm-button">
        <button (click)="onFileUpload()" *ngIf="!confirm">Confirm</button>
        <mat-spinner style="width: 50px;" *ngIf="confirm"></mat-spinner>
      </div>
    </div>
  </div>
</div>
