
<div class="container">
    <h2 class="form-title">Forgot Password</h2>
    <div class="form-group">
      <div class="form-sub-group">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" name="email" placeholder="Enter your Email" [(ngModel)]="email">
      </mat-form-field>
    </div>
    </div>
  
    <button type="button" *ngIf="!spinner" mat-raised-button color="primary" (click)="forgotBtnClick()">Forgot Password</button>
    <mat-spinner style="width: 100%; height: 30px;" *ngIf="spinner"></mat-spinner>
  </div>
  