.container {
    text-align: center;
    padding: 20px;
    background-image:url('../../../../assets/backgound.png') ;
    border-radius: 20px;
  }
  .form-title{
    color: white;
  }
  .form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-sub-group{
      width: 50%;
    }
  }
  
  .full-width {
    width: 100%;
  }
  button{
    font-size: 1.3rem;
  }
  