.container {
  text-align: center;
  // height: 88vh !important;
  // overflow-y: auto;

  .colorRed {
    color: red;
  }
  .header-title {
    font-size: 24px;
    margin-bottom: 16px;
    color: white;
  }

  .upload-section {
    margin-top: 20px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .file-selection {
      width: 80%;
      border: 5px solid #ffffff;
      color: white;
      padding: 20px;
      border-radius: 8px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 26px;
        margin-bottom: 12px;
      }

      .file-chooser {
        font-size: 1.3rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
        width: 100%;
        div{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        .choose-button {
          padding: 10px 20px;
          background-color: #3498db;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: #217dbb;
          }
        }
      }

      .confirm-button {
        button {
          padding: 10px 20px;
          background-color: #2ecc71;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: #27ae60;
          }
        }
      }
    }
  }
}

.table {
  // border: 5px solid white;
  margin: 20px 10px 10px 10px;
}
.tableContainer {
  height: 38vh;
  overflow: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  overflow-wrap: anywhere;
  scrollbar-width: thin;

  table {
    color: white;
    text-align: center;
    width: 80%;
    border-spacing: 0;
    thead {
      background-color: rgb(255, 255, 255);
      font-weight: 700;
      td {
        border-right: 2px solid rgb(0, 0, 0);
        &:first-child{
          border-left: 2px solid white;
        }
        &:last-child{
          border-right: 2px solid white;
        }
      }
      color: rgb(26, 26, 144);
      height: 40px;
    }
    tbody {
     tr{
      td {
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        padding: 5px;
        &:first-child{
          border-left: 2px solid white;
        }
        &:last-child{
          border-right: 2px solid white;
        }
      }
      &:last-child{
        td{
          &:first-child{
          border-bottom-left-radius: 20px;
          }
          &:last-child{
            border-bottom-right-radius: 20px;
          }
        }

      }
     }

    }
  }
}

#img {
  height: 50px !important ;
  width: auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
