<div class="dialog-container">
  <form
    [formGroup]="excelFileLineForm"
    (ngSubmit)="onConfirm()"
    class="custom-form"
  >
    <div class="header-tag">
      <h2 class="text-center">{{'UPLOAD_SECTION.EDIT_ROW' | translate}}</h2>
    </div>

    <div class="card">
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.COMPANY_NUMBER' | translate}}</mat-label>
        <input
          matInput
          type="number"
          formControlName="Company No"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.COMPANY_NUMBER' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.COMPANY_NAME' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Company Name"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.COMPANY_NAME' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.COMPANY_UNIT_REGION' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Company Unit (Region or Division...)"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.COMPANY_UNIT_REGION' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.TEAM_NAME_ASM_LEVEL' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Team name (ASM level)"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.TEAM_NAME_ASM_LEVEL' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.COMPANY_TARGET_LC_TOTAL' | translate}}</mat-label>
        <input
          matInput
          type="number"
          formControlName="Company Target LC Total"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.COMPANY_TARGET_LC_TOTAL_INPUT' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.TARGET_SALES_REP_LC' | translate}}</mat-label>
        <input
          matInput
          type="number"
          formControlName="Target / Sales Rep LC"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.TARGET_SALES_REP_LC' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.CURRENCY' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Currency"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.CURRENCY_INPUT' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.SALES_REP_NUMBER' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Sales rep No"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.SALES_REP_NUMBER' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.E_Mail' | translate}}</mat-label>
        <input
          matInput
          type="email"
          formControlName="E-Mail"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.E_Mail' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.GAME_LEADER' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Game-Leader (GL)"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.GAME_LEADER' | translate}}"
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.BATTLE_PARTNER_TEAM_NAME' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Battle Partner Team name (ASM level)"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.BATTLE_PARTNER_TEAM_NAME' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.TIME_ZONE' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Time zone (correlated to CET)"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.TIME_ZONE' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.LANGUAGE' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Language ISO-639-1"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.LANGUAGE' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.BATTLE_PARTNER_COMPANY_NUMBER' | translate}}</mat-label>
        <input
          matInput
          type="number"
          formControlName="Battle Partner Company No"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.BATTLE_PARTNER_COMPANY_NUMBER' | translate}}"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>{{'USERS_EDIT_LINE_PAGE.LABELS.BATTLE_PARTNER_COMPANY_NAME' | translate}}</mat-label>
        <input
          matInput
          type="text"
          formControlName="Battle Partner Company Name"
          placeholder="{{'USERS_EDIT_LINE_PAGE.PLACEHOLDERS.BATTLE_PARTNER_COMPANY_NAME' | translate}}"
          required
        />
      </mat-form-field>

      <div mat-dialog-actions class="action-buttons">
        <button mat-raised-button type="button" (click)="onDismiss()">
          {{ 'UPLOAD_SECTION.CANCEL_BUTTON' | translate }}
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ 'UPLOAD_SECTION.OK_BUTTON' | translate }}
        </button>
      </div>

    </div>
  </form>
</div>
