<div class="dialog-container">
    <form [formGroup]="hourlyExcelFileLineForm" (ngSubmit)=" onConfirm()" class="custom-form">
        <div class="header-tag">
             <h2 class="text-center">{{'UPLOAD_SECTION.EDIT_ROW' | translate}}</h2>
        </div>

        <div class="card">
            <mat-form-field class="form-group">
                <mat-label>{{'HOURLY_EDIT_LINE_PAGE.LABELS.COMPANY_ID' | translate}}</mat-label>
                <input matInput type="number" formControlName='Company ID' placeholder="{{'HOURLY_EDIT_LINE_PAGE.PLACEHOLDERS.COMPANY_ID' | translate}}" required />
            </mat-form-field>
            <mat-form-field class="form-group">
                <mat-label>{{'HOURLY_EDIT_LINE_PAGE.LABELS.SALES_REP_NUMBER' | translate}}</mat-label>
                <input matInput type="text" formControlName='Sales rep no.' placeholder="{{'HOURLY_EDIT_LINE_PAGE.PLACEHOLDERS.SALES_REP_NUMBER' | translate}}" required />
            </mat-form-field>
            <mat-form-field class="form-group">
                <mat-label>{{'HOURLY_EDIT_LINE_PAGE.LABELS.SALES_IN_LC' | translate}}</mat-label>
                <input matInput type="number" formControlName='Sales in LC' placeholder="{{'HOURLY_EDIT_LINE_PAGE.PLACEHOLDERS.SALES_IN_LC' | translate}}" required />
            </mat-form-field>


            <div mat-dialog-actions class="action-buttons">
              <button mat-raised-button type="button" (click)="onDismiss()">
                {{ 'UPLOAD_SECTION.CANCEL_BUTTON' | translate }}
              </button>
              <button mat-raised-button color="primary" type="submit">
                {{ 'UPLOAD_SECTION.OK_BUTTON' | translate }}
              </button>
            </div>
        </div>
    </form>
</div>
