<div class="container">
  <h2>{{ 'AUTH.LOG_IN_FORM.ADMIN_LOGIN' | translate }}</h2>
  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" novalidate class="content">
    <div class="inputFields">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.LOG_IN_FORM.EMAIL_LABEL' | translate }}</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          (input)="onInputBox($event)"
        />
        <mat-error
          *ngIf="
            LoginForm.get('email')?.invalid && LoginForm.get('email')?.touched
          "
        >
          <span *ngIf="LoginForm.get('email')?.errors?.['required']"
            >{{ 'AUTH.LOG_IN_FORM.EMAIL_REQUIRED_ERROR' | translate }}</span
          >
          <span *ngIf="LoginForm.get('email')?.errors?.['email']"
            >{{ 'AUTH.LOG_IN_FORM.INVALID_EMAIL_ERROR' | translate }}</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'AUTH.LOG_IN_FORM.PASSWORD_LABEL' | translate }}</mat-label>
        <input
          matInput
          type="{{ passwordHidden ? 'password' : 'text' }}"
          formControlName="password"
          (input)="onInputBox($event)"
        />
        <button type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>{{
            passwordHidden ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            LoginForm.get('password')?.invalid &&
            LoginForm.get('password')?.touched
          "
        >
          <span *ngIf="LoginForm.get('password')?.errors?.['required']"
            >{{ 'AUTH.LOG_IN_FORM.PASSWORD_REQUIRED_ERROR' | translate }}</span
          >
          <span *ngIf="LoginForm.get('password')?.errors?.['minlength']"
            >{{ 'AUTH.LOG_IN_FORM.PASSWORD_MINLENGTH_ERROR' | translate }}</span
          >
        </mat-error>
      </mat-form-field>
      <span class="forgot-password" routerLink="/auth/forgot-password">{{ 'AUTH.LOG_IN_FORM.FORGOT_PASSWORD_LINK' | translate }}</span>
    </div>
    <button type="submit" mat-raised-button color="primary" class="login">{{ 'AUTH.LOG_IN' | translate }}</button>
  </form>
</div>
