<div class="container">
  <div class="newsList">
    <div class="header-tag">
      <h2>{{ 'NEWS_LIST_PAGE.HEADER_TITLE' | translate }}</h2>
      <p>{{ 'NEWS_LIST_PAGE.HEADER_DESCRIPTION' | translate }}</p>
    </div>

    <div class="contentNewsList">
      <ng-container *ngFor="let news of listOfNews">
        <mat-card class="card">
          <mat-card-header class="card-header">
            <mat-card-title style="overflow-wrap: anywhere;" class="card-title"><h2>{{ news.title }}</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content [innerHTML]="sanitizeHTML(news.content)" class="card-content">

          </mat-card-content>
          <mat-card-actions class="card-action">
            <div class="action-button">
              <button mat-raised-button style=" background-color: #009EE0;color: white;" (click)="updateNews(news)">{{ 'NEWS_LIST_PAGE.UPDATE_BUTTON' | translate }}</button>
              <button mat-raised-button color="warn" (click)="deleteNews(news._id)">{{ 'NEWS_LIST_PAGE.DELETE_BUTTON' | translate }}</button>
            </div>
            <div class="likes">{{ 'NEWS_LIST_PAGE.LIKES_LABEL' | translate }} {{ news.reaction }}</div>
          </mat-card-actions>
          <mat-card-footer align="right" class="card-footer">{{ getFormattedDate(news.updatedAt) }}</mat-card-footer>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
