.dashboard-container {
  display: flex;
  min-height: 100vh; /* Ensure full viewport height */
}

.menu {
  width: fit-content;
  overflow-y: hidden;
}

.dashboard-content {
  // height: 100vh;
  overflow-y: hidden;
  flex: 1; /* Take remaining space in container */
  // padding: 1rem;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: white;
  // border-bottom: 1px solid #ddd;
}

.icon-button mat-icon {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}
@media only screen and (max-width: 1400px) {
  .container {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .dashboard-container {
    display: flex;
    // height: calc(90vh); /* Ensure full viewport height */
  }

  .dashboard-header {
    .logo {
      width: 150px;
    }
  }
  .icon-button mat-icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }
}
