
<div class="container">
  <h2 class="form-title">Set Password</h2>
  <div class="form-group">
    <div class="form-sub-group">
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" [(ngModel)]="confirmPassword">
    </mat-form-field>
  </div>
  </div>

  <button type="button" mat-raised-button color="primary" (click)="setPassword()">Set Password</button>
</div>
