<div class="setPasswordContainer">

<div class="container">
  <div class="backToLogin" routerLink="/auth/login"><mat-icon>arrow_back</mat-icon>Back To Login</div>
  <div class="header">
   <img src="../../../../assets/wuerth-logo.png" alt="wuerth-logo">
  </div>
  <h2 class="form-title">Set Password <mat-icon  matTooltip="Password should have minimum 8 character, atleast one uppercase letter, one lowercase letter, one digit and one special character.">info</mat-icon></h2>
  <div class="form-group">
    <div class="form-sub-group">
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password" [(ngModel)]="password">
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{showPassword?'visibility':'visibility_off'}}
    </mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" [(ngModel)]="confirmPassword">
    </mat-form-field>
  </div>
  </div>

  <button type="button" mat-raised-button color="primary" (click)="setPassword()">Set Password</button>
</div>


</div>
