<div class="setPasswordContainer">
  <div class="container">
    <div class="backToLogin" routerLink="/auth/login">
      <mat-icon>arrow_back</mat-icon>{{ 'SET_PASSWORD_PAGE.BACK_TO_LOGIN' | translate }}
      <!-- <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select placeholder="Langu" name="lang" #langSelect [(ngModel)]="selectedLanguage" (selectionChange)="translate.use(langSelect.value)">
          <mat-option *ngFor="let code of languageCodes"[value]="code"> {{ languages[code] }}</mat-option>
        </mat-select>
       </mat-form-field> -->
    </div>

    <div class="header">
      <img src="assets/wuerth-logo.png" alt="wuerth-logo">
    </div>
    <h2 class="form-title">{{ 'SET_PASSWORD_PAGE.SET_PASSWORD_TITLE' | translate }} <mat-icon matTooltip="{{ 'SET_PASSWORD_PAGE.PASSWORD_TOOLTIP' | translate }}">info</mat-icon></h2>
    <div class="form-group">
      <div class="form-sub-group">
        <mat-form-field class="full-width">
          <mat-label>{{ 'SET_PASSWORD_PAGE.PASSWORD_LABEL' | translate }}</mat-label>
          <input matInput type="password" id="password" name="password" [type]="showPassword ? 'text' : 'password'" placeholder="{{ 'SET_PASSWORD_PAGE.PASSWORD_LABEL' | translate }}" [(ngModel)]="password">
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{showPassword?'visibility':'visibility_off'}}
    </mat-icon>
    </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>{{ 'SET_PASSWORD_PAGE.CONFIRM_PASSWORD_LABEL' | translate }}</mat-label>
          <input matInput type="password" id="confirmPassword" name="confirmPassword" placeholder="{{ 'SET_PASSWORD_PAGE.CONFIRM_PASSWORD_LABEL' | translate }}" [(ngModel)]="confirmPassword">
        </mat-form-field>
      </div>
    </div>
    <button type="button" mat-raised-button color="primary" (click)="setPassword()">{{ 'SET_PASSWORD_PAGE.SET_PASSWORD_BUTTON' | translate }}</button>
  </div>
</div>
